// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$base-font-size: 1rem;
$font-family: "Poppins", system-ui;

// theme colors
$primary: #326dee;
$secondary:#1ac888;
$error: #d32752;
$info: #f6c31c;
$navy: navy;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// border
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgb(0,0,0,0.1);

