@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-black, .poppins-extrabold, .poppins-bold, .poppins-semibold, .poppins-medium, .poppins-regular, .poppins-light, .poppins-extralight, .poppins-thin {
  font-family: "Poppins", system-ui;
  font-style: normal;
}

.poppins-black-italic, .poppins-extrabold-italic, .poppins-bold-italic, .poppins-semibold-italic, .poppins-medium-italic, .poppins-regular-italic, .poppins-light-italic, .poppins-extralight-italic, .poppins-thin-italic {
  font-family: "Poppins", system-ui;
  font-style: italic;
}

.poppins-thin {
  font-weight: 100;
}

.poppins-extralight {
  font-weight: 200;
}

.poppins-light {
  font-weight: 300;
}

.poppins-regular {
  font-weight: 400;
}

.poppins-medium {
  font-weight: 500;
}

.poppins-semibold {
  font-weight: 600;
}

.poppins-bold {
  font-weight: 700;
}

.poppins-extrabold {
  font-weight: 800;
}

.poppins-black {
  font-weight: 900;
}

.poppins-thin-italic {
  font-weight: 100;
}

.poppins-extralight-italic {
  font-weight: 200;
}

.poppins-light-italic {
  font-weight: 300;
}

.poppins-regular-italic {
  font-weight: 400;
}

.poppins-medium-italic {
  font-weight: 500;
}

.poppins-semibold-italic {
  font-weight: 600;
}

.poppins-bold-italic {
  font-weight: 700;
}

.poppins-extrabold-italic {
  font-weight: 800;
}

.poppins-black-italic {
  font-weight: 900;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}